{% extends 'base/base_home.html' %}

{% block title %}Home{% endblock %}


{% block content %}

    <div class="row">

        <div class="col s6 m6 ">
          <div class="card blue-grey lighten-5">
            <div class="card-content">

                <span class="card-title"><b>Store</b></span>

                    <input type="hidden" id="usr" name="usr" value="{{user_id}}" />
                    <input type="hidden" id="token" name="token" value="{{token}}" />
                    

                    <div class="input-field col s4 m4 l4 xl4">
                      <select required name="type_op" id="type_op">
                          {% for operation in type_operation %}  
                            <option value="{{ operation.1 }}">{{ operation.0 }}</option>            
                          {% endfor %}
                      </select>
                      <label for="type_op">Operación</label>
                    </div>

                    <div class="input-field col s4 m4 l4 xl4">
                      <select required name="category" id="category">
                          {% for cat in category %}  
                            <option value="{{ cat.1 }}">{{ cat.0 }}</option>            
                          {% endfor %}
                      </select>
                      <label for="category">Categoria</label>
                    </div>

                    <div class="input-field col s4 m4 l4 xl4">
                      <input type="text" id="name" name="name" required autocomplete="off">
                      <label for="name">Nombre</label>
                    </div>

                    <div class="input-field col s3 m3 l3 xl3 offset-m2 offset-l2 offset-xl2">
                      <input type="number" name="price" id="price" class="only_number" required autocomplete="off">
                      <label for="price">Precio</label>
                    </div>

                    <div class="input-field col s3 m3 l3 xl3">
                      <input type="number" name="quantity" id="quantity" class="only_number" required autocomplete="off">
                      <label for="quantity">Cantidad</label>
                    </div>

                    <div class="input-field col s4 m4 l4 xl4">
                      <input type="text" id="description" name="description" required autocomplete="off">
                      <label for="description">Descripcion</label>
                    </div>

                    <div class="row">
                      <div class="input-field col s6 offset-m2 offset-l2 offset-xl2">
                        <button class="btn waves-effect blue darken-1 col s12" name="save" id="save">Guardar</button>
                      </div>
                    </div>
            </div>

          </div>
        </div>

        <div class="col s6 m6 l6 xl6">

            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="tbody-products"> </tbody>
            </table>

        </div>

    </div>

{% endblock %}


{% block extra_scripts %}
<script>
  // Obtener referencias a los elementos del formulario
  const typeopInput  = document.getElementById('type_op');
  const descriptionInput = document.getElementById('description');
  const categoryInput = document.getElementById('category');
  const nameInput = document.getElementById('name');
  const priceInput = document.getElementById('price');
  const quantityInput = document.getElementById('quantity');
  
  const usrInput  = document.getElementById('usr');
  const tokenInput  = document.getElementById('token');
  const tk = tokenInput.value;
  
  // Obtener el botón de guardar
  const saveButton = document.getElementById('save');

  // Configura el encabezado de autorización en todas las solicitudes Axios
  axios.defaults.headers.common['Authorization'] = `Token ${tk}`;

  // Agregar un evento click al botón de guardar
  saveButton.addEventListener('click', () => {
    // Obtener los valores de los campos de formulario
    const name = nameInput.value;
    const description = descriptionInput.value;
    const price = parseFloat(priceInput.value);
    const category = categoryInput.value;
    const type_operation = typeopInput.value;
    const quantity = parseFloat(quantityInput.value);

    const usr = parseInt(usrInput.value);
    
    let data = JSON.stringify({
      "name": name,
      "description": description,
      "price": price,
      "category": category,
      "type_operation": type_operation,
      "quantity": quantity,
      "store_usr": usr
    });

    let config = {
      method: 'post',
      maxBodyLength: Infinity,
      url: '/api/product/',
      headers: { 
        'Content-Type': 'application/json'
      },
      data : data
    };

    axios.request(config)
    .then((response) => {
      console.log(JSON.stringify(response.data));
    })
    .catch((error) => {
      console.log(error);
    });


  });

  document.addEventListener("DOMContentLoaded", function() {
    axios.get('/api/product/')
    .then(response => {
      // La respuesta contiene los datos de los productos
      const products = response.data.results;

      for (let j = 0; j < products.length; j++) {

        let html_tbl = `<tr">
          <td>${products[j].name}</td>
          <td>${products[j].description}</td>
          <td>${products[j].price}</td>
          <td>${products[j].category}</td>
          <td class="action-btns right-align">
              <a href="javascript:void(0);" class="delete-material"title="Eliminar"><i class="fas fa-trash"></i></a>
              <a href="javascript:void(0);" title="Editar"><i class="fa fa-edit"></i></a>
            </td>
          </tr>`;

          document.getElementById('tbody-products').innerHTML += html_tbl;
        }
    })
    .catch(error => {
      console.error(error);
    });
  });

</script>
{% endblock %}